extends typescript

snippet comp "function component"
	import { Component } from "solid-js";

	interface IProps {}

	export const ${1}: Component<IProps> = (props) => {
		return ${2};
	};


snippet ccomp "function component with children"
	import { Component, ParentProps } from "solid-js";

	type IProps = ParentProps<{}>

	export const ${1}: Component<IProps> = (props) => {
		return ${2};
	};

